/* index.css */

@import url('https://fonts.googleapis.com/css?family=Rubik');
@charset "UTF-8";

body {
    /*
    height: 100%;
    width: 100%;
    */
    padding: 0;
    margin: 0;
    background: radial-gradient(black, #003300);
}

html {
    /*
    height: 100%;
    width: 100%;
    */
    padding: 0;
    margin: 0;
}

td {
    text-align: center;
    padding: 0.2em 0;
}

th {
    padding: 0 0.25em;
    border-left: 1px solid white;
    border-right: 1px solid white;
}

#app {
    display: flex;
    flex-direction: column;
    font-family: 'Rubik', sans-serif;
    color: white;
}


#DisplayBar {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.App {
    display: flex;
    flex-direction: column;
    /*
    height: 100%;
    width: 100%;
    */
}

.nav-bar {
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #EE5F28;
}

.main-stage {
    flex: 10;
    display: flex;
    flex-direction: column;
    padding: 1em;
    overflow-y: scroll;
}

.nav-button {
    color: white;
    font-size: 150%;
    cursor: pointer;
    align-items: center;
    flex-direction: column;
}

.nav-button input{
    display: none;
}

.nav-button svg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.stage-banner {
    position: relative;
    margin: 0.5em;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 1;
}

.launcher-container {
    flex-direction: column;
}

.stage-banner-container {
    width: 100%;
}

.stage-banner svg {
    position: absolute;
    color: #EE5F28;
    right: 0;
    top: 47%;
    transform: translateY(-50%);
    font-size: 120%;
}

.stage-title {
    text-align: left;
    padding: 1em 0;
    margin: 0.5em;
    color: #EE5F28;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 110%;
    letter-spacing: 2px;
    display: inline-block;
}

.ft-banner-button-container {
    display: flex;
    flex-direction: row;
    width: 38%;
    justify-content: flex-end;
    height: 1em;
}

.banner-button {
    display: flex;
    flex-direction: row;
    text-align: right;
    justify-content: flex-end;
}

.banner-button svg {
    position: relative;
}


.card-container {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.conference-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.5em;
    margin: 0.5em;
    font-size: 100%;
    background: white;
}

.conference-fields {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.conference-field {
    display: flex;
    margin: 0.5em;
    font-size: 100%;
}

.ft-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.5em;
    margin: 0.5em;
    font-size: 100%;
    background: white;
    flex-shrink: 0;
    color: black;
}

.ft-card-large {
    display: flex;
    flex-direction: row;
    justify-content:  flex-start;
    align-items: center;
    padding: 0.5em;
    margin: 0.5em;
    font-size: 100%;
    background: white;
    flex-shrink: 0;
    color: black;
}

.ft-fields {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 1.5em;
}

.ft-name-fields {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.ft-vertical-fields {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.ft-set-diff-fields {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-transform: uppercase;
    font-size: 85%;
    margin: 0.5em 0 0;
    min-height: 1.27em;
}

.ft-set-diff-fields > .ft-name-field {
    width: 25%;
}

.ft-set-name-fields {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ft-set-name-field {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.ft-average-rating-field {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.ft-spacer {
    margin: 0 0.25em 0;
}

.ft-field {
    margin: 0 0.25em 0;
    font-size: 100%;
    display: inline-block;
}

.ui-button {
    display: flex;
    justify-content: center;
    align-self: center;
    margin: 1em 0;
    padding: 1em;
    width: 50%;
    background: radial-gradient(#EE5F28, black);
    left: 0;
    right: 0;
    color: cyan;
}

.collapsible-menu {
    position: absolute;
    display: inline-block;
}

.banner-menu {
    position: fixed;
    right: 0;
    display: inline-block;
}

.banner-menu-content {
    position: absolute;
    top: 0.5em;
    right: 0;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    display: flex;
    flex-direction: column;
}

.menu-content {
    position: absolute;
    bottom: 0.5em;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap-reverse;
    justify-content: flex-start;
    align-items: flex-start;
}

.sub-menu-content {
    z-index: 2;
    right: 0.5em;
}

.menu-item {
    display: inline-block;
    width: 10em;
}

.menu-item-fields {
    display: inline-block;
    vertical-align: top;
}

.menu-field {
    color: black;
    padding: 0.25em;
    display: inline-block;
    text-decoration: none;
    font-size: 150%;
    width: 100%;
}

.menu-item-selected {
    text-decoration: none;
    font-size: 110%;
    background-color: gray;
}

#entry-form {
    display: flex;
    flex-direction: column;
    color: white;
}

#entry-form label {
    padding: 1em 0;
}

#entry-form input[type="text"] {
    margin: 0 0 0.5em 0;
    padding: 0.75em;
    font-size: 16px;
}

.form-question {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
}

.form-question label {
    padding: 0;
}

.app-title, .app-greeting {
    color: white;
}

.app-description {
    color: white;
    padding: 1em 0;
}

.login-button {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

.widget-container section, div, footer {
  display:flex;
}

.widget-container section {
  margin:10px;
}

.widget-container {
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: flex-start;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.widget-container section {
  border:1px solid black;
  flex-direction:column;
  max-height:300px;
  width:300px;
}
/*
.widget-container div {
  flex-grow:1;
}
*/
.widget-container header {
  border-bottom:1px solid black;
  color: white;
}

.widget-container footer {
  border-top:1px solid black;
  flex-direction:row;
  justify-content:flex-end;
}

.widget-container footer > span {
  flex-grow:1;
}

.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
.gu-hide {
  display: none !important;
}
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}

.modal {
    z-index: 3;
    position: fixed;
    top: 33%;
    left: 50%;
    color: black;
}

.modal-content {
    position: relative;
    left: -50%;
    display: flex;
    flex-direction: column;
    background-color: #99ff66;
}

.schedule-ladder {
    flex-grow: 1;
    flex-direction: row;
}

.schedule-labels {
    flex-direction: column-reverse;
    flex-shrink: 1;
}

.schedule-label {
    height: 60px; 
    text-align: top;
    margin-top: -1em;
    margin-bottom: 1em;
}

.schedule-setbox {
    flex-direction: column-reverse;
    flex-grow: 1;
    position: relative;
}

.schedule-set-start-handle {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5px;
}

.schedule-set-end-handle {
    position: absolute;
    top: 0;
    width: 100%;
    height: 5px;
}

.schedule-set {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0.5em;
    font-size: 100%;
    background: white;
    flex-shrink: 0;
    flex-grow: 0;
    color: black;
    position: absolute;
    width: 300px;
}

.schedule-set-hook {
    display: flex;
    height: 5px;
    min-width: 100%;
    overflow: visible;

}

.top-border {
    border-top: 1px solid white;
    height: 4px;
}

.quarter {
    flex-shrink: 0;
    flex-grow: 0;
}

.hidden { display:none; }
